<div class="item">
    <div>Endereço da imagem de perfil</div>
    <div><input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
    </div>
</div>
<div class="item">
    <div>Nome completo</div>
    <div><input type="text" name="name" placeholder="Digite o nome" value="{{teacher.name}}">
    </div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{teacher.birth}}">
    </div>
</div>
<div class="item">
    <div>Escolaridade</div>
    <select name="education" placeholder="Selecione">
        <option 
        value="medio"
        {% if teacher.education == 'medio' %}
        selected
        {% endif %}
        >Ensino Médio Completo
        </option>

        <option 
        value="superior"
        {% if teacher.education == 'superior' %}
        selected
        {% endif %}
        >
        Ensino Superior Completo
        </option>

        <option 
        value="mestrado"
        {% if teacher.education == "mestrado" %}
        selected
        {% endif %}
        >
            Mestrado
        </option>

        <option 
        value="doutorado"
        {% if teacher.education == 'doutorado' %}
        selected
        {% endif %}
        >Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Acompanhamento</div>
    <div><input type="text" name="services" placeholder="Digite  as matérias separadas por vírgula"
    value="{{teacher.services}}">
    </div>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="classtype" 
            value="Presencial" 
            {% if teacher.classtype == "Presencial" %}
                checked
            {% endif %}
            >
            Presencial
        </span>

        <span>
            <input 
            type="radio" 
            name="classtype" 
            value="À distância"
            {% if teacher.classtype == "À distância" %}
                checked
            {% endif %}
            >
            À distância
        </span>
    </div>
</div>



<button type="submit">Salvar</button>